# macOS
.DS_Store
._*

# IntelliJ
.idea/

# Local configuration file (sdk path, etc)
local.properties

# Gradle
.gradle/
build/

# Android
release/

# Tests
app/src/androidTest/
app/src/test/

# Custom
extracted_oat
private
_old